<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Time(UTC)</th>
      <th scope="col">Block</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Nonce</th>
      <th scope="col">Status</th>
      <th scope="col">Src Tx</th>
      <th scope="col">Dst Tx</th>
    </tr>
  </thead>
  <tbody class="">
    <% messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </tbody>
</table>
