<% if message %>
  <ul class="list-group list-group-flush">
    <% message.attributes.each do |key, value| %>
      <li class="list-group-item">
        <p class="h6 text-uppercase mt-1"><%= key %>: </p>
        <div class="text-break" style="font-family: 'Roboto Mono', monospace;"><%= value.nil? ? '-' : value %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-warning" role="alert">
    No message found.
  </div>
<% end %>
