<main class="container">
  <%= render 'message_search' %>
  <%= turbo_frame_tag 'body' do %>
    <%= turbo_frame_tag 'messages' do %>
      <%= render 'messages', messages: @messages %>
    <% end %>
  <% end %>
</main>
