RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
DB_HOST=msgscan-db
DB_USERNAME=postgres
DB_PASSWORD=password
REDIS_URL_CACHING=redis://msgscan-redis:6379/0
REDIS_URL_CABLE=redis://msgscan-redis:6379/1
RAILS_MASTER_KEY=<SET_IT_TO_CORRECT_KEY>